<%= render 'list', book: @book_new, user: @user %>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
    <table class="table table-hover table-inverse">
      <tbody>
        <tr>
          <td class="user_image"><%= link_to user_path(@book) do %>
            <%= image_tag @user.get_profile_image(100,100) %>
            <br><%= @user.name %></br>
            <% end %>
          </td>
          <td class="book-title"><%= link_to @book.title, book_path(@book) %></td>
          <td class="book-body"><%= @book.body %></td>

          <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-sm btn-success edit_book_id" %></td>
            <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?", class:"btn btn-sm btn-danger destroy_book_id" %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>  